body{
  background-color: antiquewhite;
  
}

header {
  background-color: silver;
  padding: 10px;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.534);
  
}


nav {
  padding: 10px 20px;
  margin: 10px 20px;
  list-style: none;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.534); 
}
nav li {
  list-style: none;
}
figure {
  padding: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}
section{
  padding: 10px 50px;
  margin: 10px 50px;
}
h3 {
  background-color: silver;
  padding: 5px;
  
}
footer {
  background-color: silver;
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid black;
}
section p {
  color: red;
  text-align: left;
  justify-content: center;
  font-size: 10px;
  padding: 10px;
  margin: 10px;


}